@import "../style/fn";

.nj-radio {
    padding: 5px 0;

    &__group {
        &--inline {
            .nj-radio {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }

    &--disabled {
        .nj-icon {
            &-radio {
                color: #e5e5e5!important;
            }
            &-radio-fill {
                color: #e5e5e5!important;
            }
        }
    }

    .nj-icon {
        margin-top: -4px;
        margin-right: 4px;
        vertical-align: middle;
        &-radio {
            color: #aaa;
        }
        &-radio-fill {
            color: $blue;
        }
    }
}
