@charset "UTF-8";
@import "../style/fn";

/**
 * 图标字体不经常变动, 通过 icomoon 在线生成
 * https://icomoon.io/
 */
@font-face {
    font-family: 'nj-icon';
    src:  url('./fonts/nj-icon.eot?12h9rd');
    src:  url('./fonts/nj-icon.eot?12h9rd#iefix') format('embedded-opentype'),
    url('./fonts/nj-icon.ttf?12h9rd') format('truetype'),
    url('./fonts/nj-icon.woff?12h9rd') format('woff'),
    url('./fonts/nj-icon.svg?12h9rd#nj-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nj-icon {
    display: inline-block;
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nj-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// 加载动画
.nj__loading {
    -webkit-animation: nj-rotate 1s linear infinite;
    animation: nj-rotate 1s linear infinite;
}
@-webkit-keyframes nj-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes nj-rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.nj-icon-sort:before {
    content: "\e900";
}
.nj-icon-menu:before {
    content: "\e901";
}
.nj-icon-upload:before {
    content: "\e902";
}
.nj-icon-setting:before {
    content: "\e903";
}
.nj-icon-delete:before {
    content: "\e904";
}
.nj-icon-close-circle:before {
    content: "\e905";
}
.nj-icon-arrow-up:before {
    content: "\e906";
}
.nj-icon-arrow-down:before {
    content: "\e907";
}
.nj-icon-check:before {
    content: "\e908";
}
.nj-icon-star-fill:before {
    content: "\e909";
}
.nj-icon-star:before {
    content: "\e90a";
}
.nj-icon-search:before {
    content: "\e90b";
}
.nj-icon-refresh:before {
    content: "\e90c";
}
.nj-icon-loading:before {
    content: "\e90d";
}
.nj-icon-up:before {
    content: "\e90e";
}
.nj-icon-right:before {
    content: "\e90f";
}
.nj-icon-left:before {
    content: "\e910";
}
.nj-icon-down:before {
    content: "\e911";
}
.nj-icon-more:before {
    content: "\e912";
}
.nj-icon-share:before {
    content: "\e913";
}
.nj-icon-checkbox-fill:before {
    content: "\e914";
}
.nj-icon-radio-fill:before {
    content: "\e915";
}
.nj-icon-radio:before {
    content: "\e916";
}
.nj-icon-question:before {
    content: "\e917";
}
.nj-icon-question-fill:before {
    content: "\e918";
}
.nj-icon-info-fill:before {
    content: "\e919";
}
.nj-icon-info-circle:before {
    content: "\e91a";
}
.nj-icon-plus:before {
    content: "\e91b";
}
.nj-icon-close:before {
    content: "\e91c";
}
.nj-icon-checkbox:before {
    content: "\e91d";
}
.nj-icon-category:before {
    content: "\e91e";
}
.nj-icon-home:before {
    content: "\e91f";
}
.nj-icon-me:before {
    content: "\e920";
}
.nj-icon-message:before {
    content: "\e921";
}
.nj-icon-shop:before {
    content: "\e922";
}
.nj-icon-to-top:before {
    content: "\e923";
}

