@charset "UTF-8";
@import "../style/fn";

/**
 * 图标字体不经常变动, 通过 icomoon 在线生成
 * https://icomoon.io/
 */
@font-face {
    font-family: 'nj-icon';
    src:  url('http://p7fm1jign.bkt.gdipper.com/nj-icon.eot?volkmu');
    src:  url('http://p7fm1jign.bkt.gdipper.com/nj-icon.eot?volkmu#iefix') format('embedded-opentype'),
    url('http://p7fm1jign.bkt.gdipper.com/nj-icon.ttf?volkmu') format('truetype'),
    url('http://p7fm1jign.bkt.gdipper.com/nj-icon.woff?volkmu') format('woff'),
    url('http://p7fm1jign.bkt.gdipper.com/nj-icon.svg?volkmu#nj-icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.nj-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'nj-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nj-icon-arrow-down:before {
    content: "\e900";
}
.nj-icon-question-circle:before {
    content: "\e901";
}
.nj-icon-plus-circle:before {
    content: "\e902";
}
.nj-icon-plus:before {
    content: "\e903";
}
.nj-icon-close-circle:before {
    content: "\e904";
}
.nj-icon-down:before {
    content: "\e905";
}
.nj-icon-up:before {
    content: "\e906";
}
.nj-icon-left:before {
    content: "\e907";
}
.nj-icon-right:before {
    content: "\e908";
}
.nj-icon-close:before {
    content: "\e909";
}
.nj-icon-category:before {
    content: "\e90a";
}
.nj-icon-home:before {
    content: "\e90b";
}
.nj-icon-me:before {
    content: "\e90c";
}
.nj-icon-message:before {
    content: "\e90d";
}
.nj-icon-shop:before {
    content: "\e90e";
}
.nj-icon-star:before {
    content: "\e90f";
}
.nj-icon-to_top:before {
    content: "\e910";
}

