@import "var";

[class*='nj-hairline']::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    pointer-events: none;
    box-sizing: border-box;
    border: 0 solid #eee;
}

.nj-hairline--bottom::after {
    border-bottom-width: 1px;
}

.nj-hairline--top-bottom::after {
    border-width: 1px 0;
}
